@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--color-skblue: #054bb4;
	--color-skblue-second: #054bb40f;
	--color-skblue-third: #054bb41a;
	--color-skblack: #1d1d1b;
	--color-skblack-second: #ddeaff0f;
	--color-skgray: #606176;
	--color-skgray-second: #d3d3d3;
	--font-poppins: "Poppins", sans-serif;
	--font-inter: "Inter", sans-serif;
	--breakpoint-xxs: 23.5rem; /*(376px)*/
}
